extends ../global_layout.pug

block content   
     script(type='text/javascript').
          u("#sidebar-collection").addClass("bg-slate-700")
          const navigateToDetailPage = (id) => {
               location.href = `/collection/${id}`
          }
          const navigateToCreatePage = () => {
               location.href = `/collection/new`
          }
     div
          div.flex.justify-between.items-center
               p.font-bold.text-xl.text-slate-900 PROMOTION LIST
               +primary_button('Create', 'navigateToCreatePage()', colorScheme='slate')

          div.h-4
          div.bg-white.p-8.shadow-lg.shadow-slate-200.rounded-2xl
               if collections.length > 0
                    table.table.w-full
                         thead.table-header-group.bg-slate-100
                              tr.table-row
                                   th.table-cell.text-left.p-3 ID
                                   th.table-cell.text-left NAME
                                   th.table-cell.text-left TYPE
                                   th.table-cell.text-left BOOKS COUNT
                                   th.table-cell.text-left EXPIRED AT
                                   th.table-cell.text-left UPDATED AT
                                   th.table-cell.text-left.w-8         
                         tbody.table-row-group
                              each collection in collections
                                   tr(class="table-row hover:bg-slate-50 hover:cursor-pointer group")
                                        td.table-cell.p-3(onclick=`navigateToDetailPage(${collection.id})`) #{collection.id}
                                        td.table-cel(onclick=`navigateToDetailPage(${collection.id})`) #{collection.name}
                                        td.table-cel(onclick=`navigateToDetailPage(${collection.id})`) #{collection.type}
                                        td.table-cel(onclick=`navigateToDetailPage(${collection.id})`) #{collection._count.batches}
                                        td.table-cel(onclick=`navigateToDetailPage(${collection.id})`)= (collection.expiredAt) ? collection.expiredAt.toLocaleString() : ''
                                        td.table-cel(onclick=`navigateToDetailPage(${collection.id})`) #{collection.updatedAt.toLocaleString()}
                                        td.table-cel
                                             i(class="material-icons hidden group-hover:block w-4", onclick=`openDeleteModal(${collection.id})`) delete
               else 
                    +announcement('illustration_no_data.svg', 'You have not created any collection')

     include deactivate_collection_modal.pug
