extends ../global_layout.pug

block content   
     script(type='text/javascript').
          u("#sidebar-discount").addClass("bg-slate-700")
          const navigateToDetailPage = (id) => {
               location.href = `/discount/${id}`
          }
          const navigateToCreatePage = () => {
               location.href = '/discount/new'
          }
     div
          div.flex.justify-between.items-center
               p.font-bold.text-xl.text-slate-900 DISCOUNT
               +primary_button('Create', 'navigateToCreatePage()', colorScheme='slate')

          div.h-4
          div.bg-white.p-8.shadow-lg.shadow-slate-200.rounded-2xl
               if discounts.length > 0
                    table.table.w-full
                         thead.table-header-group.bg-slate-100
                              tr.table-row
                                   th.table-cell.text-left.p-3 ID
                                   th.table-cell.text-left PERCENTAGE
                                   th.table-cell.text-left MAX QUANTITY
                                   th.table-cell.text-left START DATE
                                   th.table-cell.text-left END DATE
                                   th.table-cell.text-left IS RECURRING
                                   th.table-cell.text-left BATCHES COUNT
                                   th.table-cell.text-left.w-8        
                         tbody.table-row-group
                              each discount in discounts
                                        tr(class="table-row hover:bg-slate-50 hover:cursor-pointer group")
                                             td.table-cell.p-3(onclick=`navigateToDetailPage(${discount.id})`) #{discount.id}
                                             td.table-cell(onclick=`navigateToDetailPage(${discount.id})`)= discount.percentage * 100 + '%'
                                             td.table-cell(onclick=`navigateToDetailPage(${discount.id})`) #{discount.maxQuantity}
                                             td.table-cell(onclick=`navigateToDetailPage(${discount.id})`) #{discount.startAt.toLocaleString()}
                                             td.table-cell(onclick=`navigateToDetailPage(${discount.id})`) #{discount.endAt.toLocaleString()}
                                             td.table-cell(onclick=`navigateToDetailPage(${discount.id})`) #{discount.isRecurring}
                                             td.table-cell(onclick=`navigateToDetailPage(${discount.id})`) #{discount._count.batches}
                                             td.table-cell
                                                  i(class="material-icons hidden group-hover:block w-4", onclick=`openDeleteModal(${discount.id})`) delete
               else 
                    +announcement(
                         'illustration_no_data.svg', 
                         'You have not created any discount'
                    )

     include delete_discount_modal.pug
          