extends ../global_layout.pug

block content   
     script(type='text/javascript').
          u("#sidebar-category").addClass("bg-slate-700")
          const navigateToDetailPage = (id) => {
               location.href = `/category/${id}`
          }
     div
          div(class='flex justify-between items-center')
               p(class='font-bold text-xl text-slate-900') CATEGORY
               button(class='bg-slate-900 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded-xl', onclick='openCreateModal()') Create
          div(class='h-4')
          div(class='bg-white p-8 shadow-lg shadow-slate-200 rounded-2xl')
               if categories.length > 0
                    table(class='table w-full')
                         thead(class='table-header-group bg-slate-100')
                              tr(class='table-row')
                                   th(class="table-cell text-left p-3") ID
                                   th(class="table-cell text-left") NAME
                                   th(class="table-cell text-left") BOOKS COUNT
                                   th(class="table-cell text-left") CREATED AT
                                   th(class="table-cell text-left w-8")          
                         tbody(class="table-row-group")
                              each category in categories
                                        tr(class="table-row hover:bg-slate-50 hover:cursor-pointer group")
                                             td(class="table-cell p-3", onclick=`navigateToDetailPage(${category.id})`) #{category.id}
                                             td(class="table-cell", onclick=`navigateToDetailPage(${category.id})`) #{category.name}
                                             td(class="table-cell", onclick=`navigateToDetailPage(${category.id})`) #{category._count.books}
                                             td(class="table-cell", onclick=`navigateToDetailPage(${category.id})`) #{category.createdAt}
                                             td(class="table-cell")
                                                  i(class="material-icons hidden group-hover:block w-4", onclick=`openDeleteModal(${category.id})`) delete
               else 
                    +announcement('illustration_no_data.svg', 'You have not created any category')

     include create_category_modal.pug
     include delete_category_modal.pug
          