mixin pick_batch_menu(batches)
     div.bg-white.p-8.shadow-lg.shadow-slate-200.rounded-2xl.grid.grid-cols-3.gap-12
          each batch in batches 
               div.batch-menu-item.flex.flex-col.gap-3.cursor-pointer.p-4.rounded-xl.text-slate-700.group(id=`batch-menu-item-${batch.id}`, onclick=`pickBatch(${batch.id})`)
                    img(
                         src=batch.book.imageUrls[0],
                         class="h-48 rounded-xl object-cover object-center group-hover:contrast-125"
                    )
                    p(class="group-hover:font-bold") #{batch.book.name} - #{batch.index}