mixin edit_collection_modal(elementId, value)
     div(id=`edit-collection-${elementId}-modal`, class="hidden fixed z-40 w-screen h-screen inset-0 bg-gray-900 bg-opacity-60")
          div(class="fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-1/2 bg-white rounded-md px-8 py-6 space-y-5 drop-shadow-lg")
               div.flex.justify-between
                    p.text-xl.font-semibold Edit collection 
                    i.material-icons.w-8.cursor-pointer(onclick="closeEditModal()") close
               form.grid.gap-4.mb-4.grid-cols-2
                    div.col-span-2
                         label(
                              for=elementId, 
                              class="block mb-2 text-sm font-medium text-slate-900 capitalize"
                         ) #{elementId} 
                         if (elementId == "description")
                              textarea(
                                   type="text", 
                                   name=elementId, 
                                   id=elementId, 
                                   class="min-h-96 bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:bg-transparent focus:border-primary-600 block w-full p-2.5", 
                                   required
                              ) #{value}
                         else
                              input(
                                   type="text", 
                                   name=elementId, 
                                   id=elementId, 
                                   class="bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:bg-transparent focus:border-primary-600 block w-full p-2.5", 
                                   value=value
                                   required
                              )
               div.flex.justify-end
                    button(
                         type="submit", 
                         id="submit-button", 
                         class="bg-slate-900 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded", 
                         onclick="submitEditBook()"
                    ) Submit

          +toast('danger', 'edit-collection-toast')

          script(type="text/javascript").
               var elementId
               const openEditModal = (id) => {
                    elementId = id
                    u(`#edit-collection-${elementId}-modal`).removeClass('hidden')   
               }

               const closeEditModal = () => {
                    u(`#edit-collection-${elementId}-modal`).addClass('hidden');   
               }

               const submitEditBook = async () => {
                    let data;
                    let value = u(`#${elementId}`).nodes[0].value
                    if (parseInt(value)) value = parseInt(value)
                    const id = location.href.split('/').at(-1)
                    axios.patch(`/collection/${id}`, {
                         [elementId]: value
                    })
                    .then(() => location.reload())
                    .catch((error) => showToast('#edit-collection-toast', error.response.data.message.toString()));
               }